*.o
*.lo
.lock-waf_*
.waf-1.6.11-*
.waf3-*
Makefile
*~
build/
config.log
config.status
errors
libtool
src/.deps/
src/.libs/
src/Makefile
src/asdcp-test
src/blackwave
src/j2c-test
src/klvsplit
src/klvwalk
src/kmuuidgen
src/libasdcp.la
src/libkumu.la
src/pinkwave
src/wavesplit
